<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthOps_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthOps_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="@Url.Content("~/WhatsApp Image 2025-05-23 at 17.13.45 (1).jpeg")"
                         alt="HealthOps"
                         class="company-logo" />
                     Health<span id="ops">Ops</span>
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book_Appointment">Book Appointment</a>
                          
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li> 
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" id="signin-btn"asp-area="" asp-controller="SignIn" asp-action="SignIn"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 ">
                    <h5 class="text-uppercase fw-bold mb-4">Contact Us</h5>
                        <u>Office information</u><br />
                    <p>
                        60 Western Road ,<br />
                        Central ,<br />
                        Gqeberha,<br />
                        6001,<br />
                        Eastern Cape ,<br />
                        South Africa
                    </p>
                </div>
        </div>

            <div class="container">
                <div class="row" id="contact_info">
                    <div class="col-lg-4 mb-4 ">
                        <h5 class="align-self-lg-center"></h5>
                        <u>
                            Contact Information
                        </u><br />
                        <p>
                            (041) 667 3072 <br />
                            (041) 886 0022
                        </p>
                        <p>
                            <u>Email</u>
                        </p>
                        info@healthOps.co.za
                    </div>

            </div>


            <hr class="my-4">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    &copy; 2025 HealthOps. All rights reserved.

                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    

    <style>
        
        .navbar-brand {
            padding: 5px 15px;
        }
        #ops{
            color:limegreen

        }
        .company-logo {
            height: 80px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }

        .navbar-brand span {
            vertical-align: middle;
        }
        .navbar {
            background-color: transparent !important;
            background-image: none !important;
            border: none !important;
            box-shadow: none !important;
            height: 80px;
        }

        .navbar-brand,
        .nav-link {
            color: white !important; 
        }

        .navbar-toggler {
            border-color: rgba(255,255,255,0.5) !important;
        }

        
        .navbar-nav {
            float:right;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 100px;
        }


        #signin-btn {
            background-color: #32CD32;
            color: #0E0E36 !important;
            border-radius: 50px;
            padding: 12px 30px !important;
            font-weight: 600;
            border: 2px solid #32CD32;
            transition: all 0.3s ease;
            margin-left: 300px;
        }

            #signin-btn:hover {
                background-color: transparent;
                color: white !important;
                transform: translateY(-2px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

        /* Separating lines for navbar items */
        .navbar-nav > li {
            position: relative;
        }

            .navbar-nav > li:not(:last-child):after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height:30px;
                width: 1px;
                background-color: limegreen;
            }

     
        body {
            background-image: url('../images/0d219b3bb1eaba925b1bcac0171b40b3.jpg');
           background-blend-mode:darken;
            background-size: cover; 
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 100vh;
        }

       
        
         footer {
            position: absolute;
            width: 100%;
            height: 150px;
            bottom:0;
            background-color: #32CD32;
            color: #0E0E36;
            font-family: Arial, sans-serif;
            text-align:  left;
            
         }
         #contact_info{
            position: absolute; /* Allows precise positioning within the footer */
            top: 30px; /* Aligns the top of the div with the top of the footer */
            left: 50%; /* Moves the left edge of the div to the horizontal center */
            transform: translateX(-50%); /* Shifts the div left by half its own width to truly center it */
            width: 80%; /* Example width for the content div */
            padding: 10px;
            box-sizing: border-box; /* Includes padding in the width calculation */
            margin-left: 370px;
           
         }

           
    </style>
</body>
</html>
